.post {
    border: 2px solid rgb(170, 162, 162);
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  
  .post * {
    margin: 0;
  }
  
  .post-title {
    font-size: 1.75rem;
  }
  
  .post-buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
  }
  
  .post-buttons button {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .post-open {
    background-color: rgb(200, 249, 200);
  }
  
  .post-delete {
    background-color: rgb(247, 113, 113);
  }
  